server:
  # service startup port
  port:

redis:
  uri: 
  user:
  password:
  db: 

nats:
  uri: 

network:
  - id: 
    name: 
    idPrefix: 
    queryRpc:
      - 
    contractRpc: 
    oracleContract: 
    oracleStartHeight: 
    oracleAbi: 

github:
  # github token
  token:
    - 
    # graphql api
  graphql: 
