server:
  # server port
  port: 
  
network:
  - id: 
    name: 
    # RPC url
    rpc: 
    #  absolute path
    abiPath: 
    # contract address
    contractAddress: 
    # wallet private key
    privateKey:
    # wallet address
    walletAddress:
    # gas limit
    gasLimit:

github:
  # github token
  githubToken:
  # graphql api
  graphql: 
